body {
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(to bottom right, #fff, #f8d7da);
    background-attachment: fixed;
  }
  
  input::placeholder {
    color: #b4b4b4;
  }
  
  button {
    letter-spacing: 0.5px;
  }
  
  button:active {
    transform: scale(0.98);
  }
  